
:root {
	/* Colores principales */
	--color-bg: #050505;
	--color-bg-alt: #0b0b0b;
	--color-fg: #D6D6D6;
	--color-muted: #6c6c6c;

	/* Acento creepy */
	--color-accent: #b60000;      
	--color-accent-alt: #4b0000;
	--color-highlight: #d6b784;   

	/* Tipografías */
	--title-font: "Jersey 10", sans-serif;
	--body-font: "IBM Plex Mono", monospace;

	/* Tamaños y medidas */
	/* --radius: 0.35rem; */
	--ease-out: cubic-bezier(0.22, 1, 0.36, 1);

	/* Distorsión */
	--crt-blur: 0.6px;
	--crt-scan-opacity: 0.12;
}

body {
    margin: 0;
    padding: 0;
    background: var(--color-bg);
    font-family: 'Inter', sans-serif;
    color: var(--color-accent);
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    font-family: var(--body-font);
}

/* ---- CONTENEDOR ---- */
.error-container {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---- TITULO 404 ---- */
.error-title {
    font-family: var(--title-font);
    font-size: 9rem;
    font-weight: 900;
    letter-spacing: 7px;
    color: var(--color-accent);
    margin: 0;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 rgba(255, 0, 0, 0.4);
}

/* ---- TEXTO ---- */
.error-text {
    font-size: 2rem;
    margin-top: 1rem;
    font-family: var(--title-font);
}

.error-desc {
    margin-top: 0.5rem;
    font-size: 0.9rem;
    opacity: 0.7;
}

/* ---- BOTÓN VOLVER ---- */
.home-link {
    display: inline-block;
    margin-top: 2rem;
    padding: 10px 20px;
    border: 2px solid var(--color-accent);
    text-transform: uppercase;
    font-size: 0.85rem;
    letter-spacing: 1px;
    color: var(--color-accent);
    position: relative;
    overflow: hidden;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.135);
}

/* glitch */

.home-link:hover {
    background: var(--color-highlight);
	border-color: var(--color-bg);
    color: var(--color-bg);
}


/* ---- SCANLINES (CRT retro) ---- */
.scanlines {
    pointer-events: none;
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
        to bottom,
        rgba(157, 9, 9, 0.683) 0px,
        rgba(0,0,0,0) 2px,
        rgba(149, 115, 41, 0.518) 3px
    );
    z-index: 1;
    mix-blend-mode: overlay;
    animation: flicker 0.1s infinite;
}

@keyframes flicker {
    0% { opacity: 0.3; }
    50% { opacity: 0.4; }
    100% { opacity: 0.3; }
}